.ng-invalid.ng-dirty{
    border-color: red
}
.ng-valid.ng-dirty{
    border-color: green
}

.container{
    
}

.heading{
    text-align: center;
}

.prodsum{
    margin: 0 auto;
    max-width: 55%;
}

.infoContainer{
    margin: 0 auto;
    max-width: 65%;
}


.categories{
    padding-top: 15px;
    margin-left: 40%;
}